PROJECT_NAME=hello-nodejs-w-postgres

COMPOSE_PROJECT_NAME=${PROJECT_NAME}

API_SERVICE_PROJECT_PATH=backend/apis/api-service
DATABASE_PROJECT_PATH=database

NODE_PORT=5000

DB_HOST=postgresql_database
DB_NAME=devdb
DB_USER=devuser
DB_PASSWORD=changeme

DATABASE_USER=${DB_USER}
DATABASE_HOST=${DB_HOST}
DATABASE_NAME=${DB_NAME}
DATABASE_PASSWORD=${DB_PASSWORD}
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=${DB_PASSWORD}
PGADMIN_CONFIG_SERVER_MODE="False"
PGADMIN_CONFIG_SERVER_NAME="pgAdmin 4"
PGADMIN_CONFIG_DEFAULT_SERVER=${DB_HOST}
PGADMIN_CONFIG_DEFAULT_SERVER_PORT=${POSTGRES_PORT}
PGADMIN_CONFIG_DEFAULT_USERNAME=${PGADMIN_DEFAULT_EMAIL}
PGADMIN_CONFIG_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}