PROJECT_NAME=hello-nodejs-w-postgres

COMPOSE_PROJECT_NAME=${PROJECT_NAME}

API_SERVICE_PROJECT_PATH=backend/apis/api-service
DATABASE_PROJECT_PATH=database

NODE_PORT=5000

DB_HOST=postgresql_database
DB_NAME=devdb
DB_USER=devuser
DB_PASSWORD=changeme

DATABASE_USER=${DB_USER}
DATABASE_HOST=${DB_HOST}
DATABASE_NAME=${DB_NAME}
DATABASE_PASSWORD=${DB_PASSWORD}
DATABASE_PORT=5432
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=${DB_PASSWORD}
PGADMIN_PORT=5050
PGADMIN_CONFIG_SERVER_MODE=True
PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False

CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_DB=otel
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=changeme
OTEL_COLLECTOR_GRPC_PORT=4317
OTEL_COLLECTOR_HTTP_PORT=4318
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme

JUPYTER_PORT=8888
JUPYTER_TOKEN=changeme
